/*Todavia no tengo las imagenes originales, son ilustrativas*/
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: oblique;
  user-select: none; }

.imgLogo {
  width: 100%; }

body {
  background-color: orange; }

.titulo__principal {
  font-size: 50px;
  color: white;
  font-style: oblique;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  margin-bottom: 0; }

a {
  text-decoration: none; }

.contaTitu {
  float: left;
  padding: 20px;
  background-color: rgba(181, 149, 144, 0.9);
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  color: black;
  text-shadow: 0 0 15px black;
  background-position: center; }

form {
  border: solid 2px black;
  border-radius: 20px;
  padding: 10px; }
  form input {
    padding: 10px;
    margin: 10px; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: oblique;
  user-select: none; }

.fotosMain {
  display: flex;
  justify-content: space-around; }

.imgLogo {
  width: 100%; }

.Logo {
  grid-area: Logo; }

.nav {
  grid-area: nav; }

.titu {
  grid-area: titu; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.barraNav {
  display: inline-block;
  display: flex;
  list-style-type: none;
  padding: 20px;
  margin: 0px; }

.barraNav li {
  padding: 40px;
  font-size: 30px;
  font-style: oblique;
  text-align: center; }

.headFlex {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 70% 20% auto;
  gap: 2px 2px;
  grid-template-areas: "Logo Logo" "titu titu" "nav nav";
  align-content: center;
  width: 100%; }

.nosotrosFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.nosotros {
  float: left;
  padding: 20px;
  background-color: rgba(181, 149, 144, 0.9);
  border-radius: 20px;
  font-weight: bold;
  text-align: center; }

@media only screen and (max-width: 600px) {
  .videoNos iframe {
    width: 300px;
    height: 300px; } }

.productoTitu {
  float: left;
  padding: 20px;
  background-color: rgba(181, 149, 144, 0.9);
  border-radius: 20px;
  font-weight: bold;
  text-align: center; }

.textProd, .textProd2 {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #d4980d 100%); }

.ubi--titu {
  float: left;
  padding: 20px;
  background-color: rgba(181, 149, 144, 0.9);
  border-radius: 20px;
  font-weight: bold;
  text-align: center; }

.imgUb {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.contaTitu {
  float: left;
  padding: 20px;
  background-color: rgba(181, 149, 144, 0.9);
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  color: black;
  text-shadow: 0 0 15px black;
  background-position: center; }

form {
  border: solid 2px black;
  border-radius: 20px;
  padding: 10px; }
  form input {
    padding: 10px;
    margin: 10px; }
