.contaTitu{
    @include titu;
    font-size: map-get($map: $maps, $key: chic);
    color: black;
    text-shadow: 0 0 15px black;
    background-position: center;
    
}

form {
    border: solid 2px black;
    border-radius: 20px;
    padding: 10px;

   input {
    padding: 10px;
    margin: 10px;
          }
      }    