.productoTitu{
    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
   }

.textProd{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(212,152,13,1) 100%);
}
